body{
    background-color: #FFF;
}

.container{
    margin: 10px auto;
    padding: 0;
    background-color: #bbbbbb;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 720px;
}

.container-form{
    background-color: #F9F9F9;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#help{
    width: 100%;
    display: flex;
    justify-content: flex-end;

    margin-right: 30px;
}

/*---- HEADER -----*/

#logo{
    background-color: #bbb;
    width: 50px;
    height: 50px;
}

#btn-help{
    margin-top: 42px;
    color: #bbb;
}

#login{
    margin-top: 54px;
    margin-bottom: 25px;
    font-family: Roboto;
    font-weight: 600;
    color: #000;
    font-size: 23px;
}


/*----- FORM -----*/
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputbox{
    position: relative;
    width: 300px;
    margin-bottom: 40px;  
    display: flex;
    flex-direction: column;
    
}



.inputbox  input{
    position: absolute;
    padding-top: 15px;
    padding-left: 10px;
    width: 290px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: rgba(237, 237, 237);
    font-family: Roboto Medium;
    font-size: 16px;
    font-weight: 600;
}

span{
    position: absolute;
    top: 8px;
    left: 1px;
    padding: 10px;
    font-family: Roboto Medium;
    font-size: 12px;
    pointer-events: none;
    color: #999;
    font-weight: 700;
    transition: 0.5s;
}


.inputbox input:focus ~ span,
.inputbox input:valid ~ span
{
    transform: translateY(-8px);
    font-size: 8px;
    color: rgb(128, 128, 128);
}

input:hover{
    /* background-color: #e7e7e7; */
    /* color: #7e7e7e; */

    background-color: rgba(231, 231, 231);
}

#inputpass{
    display: flex;
    justify-content: flex-end;
}

#eyeoff{
    position: relative;
    visibility: visible;
    transform: translateX(250px);
    top: 5px;
    right: -8px;
    z-index: 1;
    cursor: pointer;
    background-color: #FFF;
    padding: 10px;

    visibility: hidden;
}

.inputbox input[type="password"]:focus #eyeoff
{
    visibility: visible;
    color: rgb(145, 53, 153);
}

.inputbox input:focus{
    background-color: #FFF;
    color: rgb(51, 51, 51);
}


#check{
    margin-left: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

input[type="checkbox"]
{
    appearance: none;
    outline: none;
    background-color: rgba(237, 237, 237);
}

input[type="checkbox"]:checked{
    background-color: rgb(209, 54, 57);
}

input[type="checkbox"]:checked ~ label{
    color:#000;
}

.checkbox{
    width: 300px;
    margin-top: 10px;
    display: flex;
    align-items: center;

}

label{
    margin-left: 8px;
    font-family: Roboto Medium;
    color: #999999;
    font-size: 14px;
    cursor: pointer;
}

/*---- Buttons ----*/

button{
    text-decoration: none;
    border: none;
}

.login-buttons{
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btn-google{
    width: 90px;
    height: 36px;
    border-radius: 4px;
    background-color: #FFF;
    border: 3px solid rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#btn-google:hover{
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}


#btn-apple{
    width: 90px;
    height: 36px;
    border-radius: 4px;
    background-color: #000;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-apple:hover{
    cursor: pointer;
}

#btn-fb{
    width: 90px;
    height: 36px;
    border-radius: 4px;
    background-color: #1877F2;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-fb:hover{
    cursor: pointer;
    background-color: rgb(9, 102, 222);
}

.btn-signin{
    margin: 0 auto;
    margin-top: 75px;
    width: 65px;
    height: 65px;
    border-radius: 20px;
    border: 3px solid #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E8E8E8;
    cursor: pointer;
}


p{
    width: 180px;
    font-family: Roboto medium;
    font-size: 12px;
    color: #999999;
    text-align: center;
    margin-bottom: 0;
    margin-top: 60px;
    font-weight: 700;
}

a{
    text-decoration: none;
    font-family: Roboto medium;
    font-size: 10px;
    color: #999999;
}

a:hover{
    color: #000;
}

#version{
    margin: 0 auto;
    display: flex;
    margin-right: 50px;
    font-size: 12px;
    
    font-family: Roboto medium;
    font-weight: 700;
    color: #999999;
}

/* -------------------- */

.container-background{
    width: 880px;
    background-image: url('../../../assets/LoL-Patch-Notes-11-4-Article-Banner.jpg');
    background-size: 180%;
    background-position: center;
    background-position-y: 20%;
    background-position-x: 30%;
}

nav{
    width: 100%;
}

nav > ul{
    margin: 0;
    width: auto;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav > ul > li{
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Roboto thin;
    font-size: 18px;


}

li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.40);
}

li#close:hover{
    cursor: pointer;
    background-color: #D13639;
}

#btn-info{
    margin-left: 20px;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background-color: #D950E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    font-size: 2rem;
    font-weight: 800;
    background-color: #D950E5;
    transform: rotate(-45deg);
}

#btn-info:hover,
#btn-info:hover #info{
    cursor: pointer;
    background-color: rgb(145, 53, 153);
}


.container-settings{
    display: flex;
    height: 85%;
    justify-content: flex-end;
    align-items: flex-end;
}

#settings{
    margin: 0 20px 20px 0;
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(110, 110, 110);
    color: #FFF;
    align-self: flex-end;
    cursor: pointer;
}

#settings:hover{
    background-color: rgb(156, 156, 156);
}